<div class="container">
    <div class="content1">
        <img src="img/salad.jpg" alt="">
        <div>
            <h2>Griechischer Bauernsalat</h2>
            <h4>Gurke waschen und ungeschält in dünne Scheiben oder Stücke schneiden. Paprika waschen, entkernen und in dünne Streifen schneiden. Tomaten waschen und achteln. Zwiebeln schälen und in feine Ringe schneiden. Schafskäse würfeln und mit Oregano
                bestreuen. Oliven abgießen und mit Gurke. Paprika, Tomaten. Zwiebeln und Schafskäse in eine Schüssel geben. Olivenöl, Essig, Salz und Pfeffer zu einer Sauce verrühren und über den Salat gießen. Umrühren.
            </h4><br>
            <a href="rezept_theo.html"><button class="btn">Rezept öffnen</button></a>
        </div>
    </div>
</div>